
body {
    background: #e7e7e7;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #603d7b;
    font-size: 18px;
}

/* Menu style */
.dropdown-menu {
    background: #fff;
    padding: 20px;
    border-bottom: 2px solid #603d7b;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

.dropdown-menu ul {
    list-style-type: none;
    padding: 0;
}

.dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #603d7b;
}